.idea/compiler.xml
.idea/markdown.xml
.idea/compiler.xml
target/classes/ar/edu/utn/dds/k3003/controller/SolicitudController.class
target/classes/ar/edu/utn/dds/k3003/clients/FuenteProxy.class
target/classes/ar/edu/utn/dds/k3003/clients/FuenteRetrofitClient.class
target/classes/ar/edu/utn/dds/k3003/controller/SolicitudController.class
.idea/compiler.xml
/.idea
/target
*.env
